@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  display: block;
}

header {
  margin: 0 auto;
  text-align: center;
  padding: 210px 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

header h1,
h2,
h3 {
  line-height: 1.5;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  background-color: #ffffff;
  text-decoration: none;
  padding: 16px 32px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #272044;
  display: inline-block;
  margin-top: 32px;
}

header a:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    padding: 90px 5px;
  }
  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 10px;
    padding: 12px 28px;
  }
}
